<!-- <app-nav-bar></app-nav-bar>
<div class="container">
   <div class="img-detail">
    <div class="img">
        <img src="assets/yoda.jpg" alt="yoda pic" >
    </div>
    <div class="detail">
        <h1>YODA</h1>
        <section class="scroll">
            <div class="info">
                <p class="key">Designation :</p>
                <p class="value">Sentiment</p>
            </div>
            <div class="info">
                <div class="key">Designation&nbsp;:&nbsp;</div>
                <div class="value">Sentiment jiorfjioi ifvdo kolikgdg u ffy j ibh u noj fo hier rim jfhviha mj o</div>
            </div>
            <div class="info">
                <p class="key">Designation :</p>
                <p class="value">Sentiment</p>
            </div>
            <div class="info">
                <p class="key">Designation :</p>
                <p class="value">Sentiment</p>
            </div>
            <div class="info">
                <p class="key">Designation :</p>
                <p class="value">Sentiment</p>
            </div>
            <div class="info">
                <p class="key">Designation :</p>
                <p class="value">Sentiment</p>
            </div>
            <div class="info">
                <p class="key">Designation :</p>
                <p class="value">Sentiment</p>
            </div>
            <div class="info">

                <div class="key">Designation&nbsp;:&nbsp;</div>
                <div class="value">Sentiment ifnknduyi hyuiw onnis jokingn hi hniugt iput ft ui hgy ug gyufhfhg  s iye9q guy00928 8uhi o</div>
            </div>
            <div class="info">
                <p class="key">Designation :</p>
                <p class="value">Sentiment</p>
            </div>
            <div class="info">
                <p class="key">Designation :</p>
                <p class="value">Sentiment</p>
            </div>

        </section>
    </div>
   </div> 
</div> -->
