<div class="menu">
  <div class="image" routerLink="/films">
    <div class="img">
      <img src="assets/films_normal.png" alt="films" />
    </div>
    <div class="p">
      <p>FILMS</p>
    </div>
  </div>
  <div class="image" routerLink="/species">
    <div class="img">
      <img src="assets/species_normal.png" alt="films" />
    </div>
    <div class="p">
      <p>SPECIES</p>
    </div>
  </div>
  <div class="image" routerLink="/planet">
    <div class="img">
      <img src="assets/planets_normal.png" alt="films" />
    </div>
    <div class="p">
      <p>PLANETS</p>
    </div>
  </div>
  <div class="image" routerLink="/characters">
    <div class="img">
      <img src="assets/characters_normal.png" alt="films" />
    </div>
    <div class="p">
      <p>PEOPLE</p>
    </div>
  </div>
  <div class="image" routerLink='/starship'>
    <div class="img">
      <img src="assets/vehicles_normal.png" alt="films" />
    </div>
    <div class="p">
      <p>STARSHIP</p>
    </div>
  </div>

  <div class="image" routerLink="/vehicle">
    <div class="img">
      <img src="assets/droids_normal.png" alt="films" />
    </div>
    <div class="p">
      <p>VEHICLES</p>
    </div>
  </div>
</div>
<app-footer></app-footer>