
<!-- <p>home works!</p> -->
<div class="container">
    <div class="menu" *ngIf = "display">
    <div class="image">
        <img src="assets/films_normal.png"  alt="films">
        <p>FILMS</p>
    </div>
    <div class="image">
        <img src="assets/species_normal.png" alt="films">
        <p>SPECIES</p>
    </div>
    <div class="image">
        <img src="assets/planets_normal.png" alt="films">
        <p>PLANETS</p>
    </div>
    <div class="image" (click)="displaymenu()">
        <img src="assets/characters_normal.png" alt="films">
        <p>PEOPLE</p>
    </div>
    <div class="image">
        <img src="assets/vehicles_normal.png" alt="films">
        <p>STARSHIP</p>
    </div>

    <div class="image">
        <img src="assets/droids_normal.png" alt="films">
        <p>VEHICLES</p>
    </div>
</div>
</div>
