p{
    color:white;
}

.menu{
    /* border: 1px solid white; */
    width:50%;
    height:55vh;
    margin-top: 3%;
    margin-right:auto;
    margin-left: auto;
    display: grid;
    /* align-items: center; */
    grid-template-columns: auto auto auto;
    row-gap:-8px;
    cursor: pointer;
}

.image{
    margin-top: 3rem; 
    margin-bottom: -0.7rem;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid white;   */
}
.img{
    height:20vh;
    /* margin-top: 3rem; */
     /* border: 1px solid pink;  */
     /* margin-bottom: -0.5rem; */
     display: flex;
}
.img img{
    width:100%;
}
img:hover{
   opacity: 0.7;
}

.active{
 
        background-color: rgba(0,171,255,0.4);
        color : #fff;
    
    } 

@media(max-width:500px){
   
    .menu{
        /* border: 1px solid white; */
        width:70%;
        height:55vh;
        margin-top: 1.5rem;
        margin-right:auto;
        margin-left: auto;
        display: grid;
        /* align-items: center; */
        grid-template-columns: auto auto;
        /* row-gap:1px; */
        column-gap: 20%;
        cursor: pointer;
    }
   
    p{
        font-size: 0.7rem;
    }
    .image{
        height:30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 1px solid white;   */
    }
    .img{
        height:13.5vh;
        width:23vw;
        margin-top: -2rem;
        margin-bottom: -0.5rem;
         /* border: 1px solid pink;  */
         display: flex;
    }
  
    
}
@media (min-width:501px) and (max-width:768px){

    
    .menu{
        /* border: 1px solid white; */
        width:70%;
        height:55vh;
        margin-top: 6rem;
        margin-right:auto;
        margin-left: auto;
        display: grid;
        /* align-items: center; */
        grid-template-columns: auto auto;
        row-gap:1px;
        column-gap: 20%;
        cursor: pointer;
    }
   
    p{
        font-size: 0.85rem;
    }
    .image{
        height:30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 1px solid white;   */
    }
    .img{
        height:15vh;
        width:23vw;
        margin-top: -2rem;
        margin-bottom: -0.5rem;
         /* border: 1px solid pink;  */
         display: flex;
    } 
}

