/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:wght@300&display=swap');
body{
    background: url('assets/background.png') no-repeat center center fixed;
    /* background-color: black; */
    background-size: cover;
}
html{
    font-family: 'Open Sans', sans-serif;
}
.active{
    /* background-color:gray; */
    background-color: rgba(0,171,255,0.4);
}