<app-nav-bar></app-nav-bar>
<div class="container">
   <div class="img-detail">
    <div class="img">
        <img src="assets/yoda.jpg" alt="yoda pic" >
    </div>

    <div class="detail">
        <h1>{{details.name | titlecase : true}}</h1>
        <section class="scroll">
            <div class="info">
                <p class="key">Cargo Capacity : </p>
                <p class="value">&nbsp;{{details.cargo_capacity | titlecase :false}}</p>
            </div>
            <div class="info">
                <p class="key">Cost In Credits :</p>
                <p class="value">&nbsp;{{details.cost_in_credits}}</p>
            </div>
            <div class="info">
                <p class="key">Crew :</p>
                <p class="value">&nbsp;{{details.crew| titlecase : false}}</p>
            </div>
            <div class="info">
                <p class="key">Passengers :</p>
                <p class="value">&nbsp;{{details.passengers}}</p>
            </div>
            <div class="info">
                <p class="key">Model :</p>
                <p class="value">&nbsp;{{details.model}}</p>
            </div>
            <div class="info">
                <p class="key">Length :</p>
                <p class="value">&nbsp;{{details.length | titlecase : false}}</p>
            </div>
            <div class="info">
                <p class="key">Max Atmosphering Speed:</p>
                <p class="value">&nbsp;{{details.max_atmosphering_speed}}</p>
            </div>
            <div class="info">
                <p class="key">Manufacturer:</p>
                <p class="value">&nbsp;{{details.manufacturer}}</p>
            </div>
            <div class="info">
                <p class="key">Hyperdrive rating:</p>
                <p class="value">&nbsp;{{details.hyperdrive_rating}}</p>
            </div>
            <!-- <div class="info">
                <p class="key">Designation :</p>
                <p class="value">Sentiment</p>
            </div> -->

        </section>
    </div>

  
   </div> 
</div>


