<div class="navbar" >
    <div class="menu small" [routerLinkActive]="'active'"  >
     <a class="hover" routerLink = '/films'>FILMS</a>
 </div>
 <div class="menu small" [routerLinkActive]="'active'" >
     <a class="hover" routerLink = '/species' >SPECIES</a>
 </div>
 <div class="menu small" [routerLinkActive]="'active'">
     <a class="hover" routerLink = '/planet'>PLANETS</a>
 </div>
 <div class="menu" [routerLinkActive]="'active'">
     <a class="hover" routerLink="/characters"   >PEOPLE</a>
     
 </div>
 <div class="menu" [routerLinkActive]="'active'">
     <a class="hover" routerLink = '/starship' >STARSHIPS</a>
 </div>
 <div class="menu small" [routerLinkActive]="'active'">
     <a class="hover"  routerLink = '/vehicle' >VEHICLES</a>
 </div>

     <!-- <p>SPECIES</p> -->
 
 
     <!-- <p>PLANETS</p>
 
 
     <p>CHARACTERS</p>
 
 
     <p>STARSHIP</p> -->
 
 
     <!-- <p>VEHICLES</p> -->
 
 </div>
