<div class="navbar">
    <div class="menu" [routerLinkActive]="'active'">
     <a class="hover" >FILMS</a>
 </div>
 <div class="menu" [routerLinkActive]="'active'">
     <a class="hover" >SPECIES</a>
 </div>
 <div class="menu" [routerLinkActive]="'active'">
     <a class="hover" >PLANETS</a>
 </div>
 <div class="menu" [routerLinkActive]="'active'">
     <a class="hover" routerLink="/characters"   >CHARACTERS</a>
 </div>
 <div class="menu" [routerLinkActive]="'active'">
     <a class="hover" >STARSHIP</a>
 </div>
 <div class="menu" [routerLinkActive]="'active'">
     <a class="hover" >VEHICLES</a>
 </div>
 
     <!-- <p>SPECIES</p> -->
 
 
     <!-- <p>PLANETS</p>
 
 
     <p>CHARACTERS</p>
 
 
     <p>STARSHIP</p> -->
 
 
     <!-- <p>VEHICLES</p> -->
 
 </div>
