<div class="image">
    <div class="container">
        <img src="assets/logo.png" alt="Star wars logo" >
    </div>
    
    <div class="navbar" *ngIf="displaynav">
       <div class="menu">
        <a class="hover" href="#">FILMS</a>
    </div>
    <div class="menu">
        <a class="hover" href="#">SPECIES</a>
    </div>
    <div class="menu">
        <a class="hover" href="#">PLANETS</a>
    </div>
    <div class="menu" [routerLinkActive]="'active'">
        <a class="hover" routerLink="/characters"   >CHARACTERS</a>
    </div>
    <div class="menu">
        <a class="hover" href="#">STARSHIP</a>
    </div>
    <div class="menu">
        <a class="hover" href="#">VEHICLES</a>
    </div>
    
        <!-- <p>SPECIES</p> -->
    
    
        <!-- <p>PLANETS</p>
    
    
        <p>CHARACTERS</p>
    
    
        <p>STARSHIP</p> -->
    
    
        <!-- <p>VEHICLES</p> -->
    
    </div>
    </div>
       
        
        
    
    
