<div class="container">
    <!-- <div class="lis" *ngFor="let arr of array">
    <div class="local">
        <a href="#">{{arr}}</a>
    </div>
</div> -->
    <div class="list-items">
        <div class="item first">
        <a href="#">DARTH&nbsp;VADER</a>
    </div>
    <div class="item">
        <a  href="#">LUKE&nbsp;SKYWALKER</a>
    </div>
    <div class="item">
        <a href="#">OBI&nbsp;-&nbsp;WAN&nbsp;KENOBI</a>
    </div>
    <div class="item">
        <a  routerLink="/yoda">YODA</a>
    </div>
    <div class="item">
        <a  href="#">REY</a>
    </div>
    </div>
    <div class="btn">
        <div class="fn-btn">
        <button>PREVIOUS</button>
    </div>
   <div class="fn-btn">
        <button>NEXT</button>
    </div> 
    </div>
</div>
